* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}
.cards{
    display: flex;
}

.card {
    background-color: rgb(206, 255, 206);
    width: 220px;
    border: 3px solid black;
    border-radius: 8px;
    margin: 8px;
    /* display:inline-block; */
}

.image {
    padding: 10px 2px 25px 20px;
}

.image img {
    border-radius: 6px;
    background-color: lightgreen;
    border: 2px solid green;
}

.name {
    text-align: center;
    text-decoration: underline;
    background-color: greenyellow;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    width: 180px;
    margin: auto;
}

#tag {
    padding: 10px;
    padding: 10px 4px 4px 16px;
    font-family: 'Poppins', sans-serif;

}

#tag span {
    background-color: rgb(132, 222, 132);
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
    box-shadow: 20px 15px 60px rgba(0, 128, 0, 0.259), inset -15px -15px 60px rgba(255, 255, 255, 0.301);
}

.logo {
    padding: 20px;
    /* padding: 20px 2px 1px 85px; */
    margin: auto;
    background-color: rgb(209, 33, 33);
    height: 8px;
    border-bottom: 3px solid black;
}

.logo img {
    margin-left: 70px;
    border: 2px solid brown;
    margin-top: -17px;

}

#content {
    padding: 0px 5px 6px 16px;
    /* font-family: 'Kdam Thmor Pro', sans-serif; */
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

#content p {
    padding-bottom: 3px;
}

.button {
    padding-left: 72px;
    padding-bottom: 8px;
}

.button div {
    border: 2px solid #000;
    padding: 3px 19px 3px 19px;
    border-radius: 7px;
    background-color: rgb(209, 33, 33);
}